/* all custom styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
    padding: 10px 0;
    margin-bottom: 3px;
    color: whitesmoke;
    background-color: darkslategray;
}

.close {
    font-size: 0.75rem;
}
